/* universal reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --primary-color: #27ae60;
    --secondary-color: #2ecc71;
    --light-green : #7ed56f;
    --light-green-rgb : 126, 213, 111;
    --medium-green: #55c57a;
    --medium-green-rgb:85, 197, 122;
    --dark-green: #28b485;
    --dark-green-rgb: 40, 180, 133;
    --dark-color: #34495e;
    --light-color: #ecf0f1;
    --border-radius: 5px;
    --transition: all 0.3s ease;
}

html{
    font-size: 62.5%;
}
/* Font setting and font styling */
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 1.6vw;
    box-sizing: border-box;
}


.header{
    height: 95vh;
    background-image: linear-gradient( to right , rgba(var(--light-green-rgb),.7) , rgba(var(--dark-green-rgb), .7)) ,url('../images/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo{
    height: clamp(1.92rem, 1.8vw, 3.2rem);
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
}

.heading-primary{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.heading-primary-main {
    font-size: clamp(3.2rem, 5vw, 12.8rem); 
    font-weight: 400;
    letter-spacing: clamp(.6rem, 1.25vw, 2rem);

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.heading-primary-sub {
    font-size: clamp(.8rem, 1.5vw, 2.4rem);
    font-weight: 400;
    letter-spacing: clamp(.5rem, 1vw, 1.6rem);
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* : pseudo class :: pseudo element */
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.92rem clamp(2.4rem, 2.5vw + 0.8rem, 6.4rem);  
    display: inline-block;
    border-radius: 10rem;
    font-size: clamp(1.28rem , .8401vw, 2.4rem);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(48, 48, 48, 0.2);
}

.btn:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(63, 63, 63, 0.2);
}

.btn-white{
    background-color: var(--light-color);
    color: #777;
}

.btn-animated{
    animation: moveInTop .5s ease-in-out .5s;
    animation-fill-mode: backwards;
}

.btn::after{
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    content: "";
}

.btn-white::after{
    background-color: var(--light-color);
    box-shadow: 0 1rem 2rem rgba(126, 213, 111, 0.4);
}
.btn-white:hover::after{
    transform: scale(1.4);
    opacity: 0;
}

@keyframes moveInTop {
    0%{
        opacity: 0;
        transform: translateY(10vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
